# Copia este archivo como .env y rellena los valores
DATABASE_URL=tu_url_de_postgres_aqui
PORT=3001
NODE_ENV=development

#REACT_APP_GRAPHQL_API_URL=http://localhost:3001/graphql
#REACT_APP_USE_MOCK_GUION=false

# Configuración de Resend SMTP
# RESEND_API_KEY=re_gg2Xsyub_Gi79oui33vgjfNRkGaSc3Ype
# EMAIL_FROM=onboarding@resend.dev

# Railway backend example:
# DATABASE_URL="postgresql://postgres:TU_PASSWORD@mainline.proxy.rlwy.net:37629/railway"
# NODE_ENV=production

# Configuración de Gmail SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=contrasena

