DATABASE_URL="postgresql://postgres:password123@127.0.0.1:5433/ipn_lms?schema=public"
PORT=3001
NODE_ENV=development

# Railway backend example:
# DATABASE_URL="postgresql://postgres:TU_PASSWORD@mainline.proxy.rlwy.net:37629/railway"
# NODE_ENV=production
